{% extends "pennapps/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="title-wrapper">
            <h1 class="page-title">Welcome to PennApps!</h1>
        </div>
        <div>
            <p class="intro-message">
                Explore the exciting world of technology and innovation. Sign up or log in to get started.
            </p>
        </div>
        <div class="row">
            <a href="{% url 'login' %}" class="btn">Apply Now</a>
        </div>
    </div>
{% endblock %}
