{% extends "pennapps/base.html" %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<div class="container">
  <div class="title-wrapper">
    <h1 class="page-title">Welcome, {{ first_name }}! </h1>
  </div>
  <div>
    <div>
      <p class="congrats-message">
        We’re incredibly excited to invite you to join us on the Penn Engineering campus in Philadelphia for this fall's PennApps!
      </p><br>
    </div>
    <div class="congrats-message">
      <p>Application Status: {{ application_status }}</p>
    </div>
    <div class="row">
      <a href="/application/" class="btn" style="margin: 0 auto; width: auto">Start Application</a>
    </div>
    <div class="row">
      <div class="row" style="margin: 0 auto;">
        <div class="col-sm-12">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input id="login-btn"
                  type="submit"
                  value="Logout"
                  class="btn submit-button" />
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}